<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="../../dist/css/bundle.css">    
  </head>
  <body class="bg-3">
    
    <div class="container bg-3 color-4">
        <div class="centered-parent" style="height: 70vh;">
            <div class="centered-child">
                <span style='font-size: 200px; color: orange;' class="icon-after-browserify"></span>
            </div>
        </div>    
        <h1 style="text-align: center;" class='font-1'>
          Setup
        </h1>    
    </div>    
    
    <script src="../../dist/js/bundle.js"></script>
    <script src="../../dist/js/modular-bundle.js"></script>
  </body>
</html>
